---
import AlbumCard from './AlbumCard.astro'

const { albums } = Astro.props
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {albums.map((album: any) => <AlbumCard album={album} />)}
</div>
